{deps, [{ex_uri, "1.0.0", {git, "git://github.com/extend/ex_uri.git", "HEAD"}},
        {jsx, "0.9.0", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}},
        {misultin, "0.7.1-dev", {git, "git://github.com/kevsmith/misultin.git", "HEAD"}},
        {ossp_uuid, "1", {git, "git://github.com/yrashk/erlang-ossp-uuid.git", "HEAD"}},
        %% Testing-only dep
        {proper, "1.0", {git, "git://github.com/manopapad/proper.git", "HEAD"}}]}.

{erl_opts, [{src_dirs, ["src", "test"]},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            %            warn_missing_spec,
            %            warn_untyped_record,
            debug_info]}.
{dialyzer_opts, [{warnings, [unmatched_returns, error_handling, race_conditions, behaviours]}]}.
{xref_checks, [undefined_function_calls]}.

%% Hooks
{pre_hooks, [{eunit, "wget https://github.com/LearnBoost/Socket.IO/raw/master/socket.io.js -O priv/Socket.IO/socket.io.js"}]}.

