{deps, [{ex_uri, "1.0.0", {git, "git://github.com/extend/ex_uri.git", "HEAD"}},
        {jsx, "0.9.0", {git, "git://github.com/talentdeficit/jsx.git", "HEAD"}},
        {misultin, "0.7.1-dev", {git, "git://github.com/kevsmith/misultin.git", "HEAD"}},
        {ossp_uuid, "1", {git, "git://github.com/yrashk/erlang-ossp-uuid.git", "HEAD"}},
        %% Testing-only dep
        {proper, "1.0", {git, "git://github.com/manopapad/proper.git", "HEAD"}}]}.

{erl_opts, [debug_info, warnings_as_errors]}.

