{plugins, [agner_rebar_plugin]}.
{lib_dirs, ["deps", "deps/jsx/deps/","deps/ex_uri/deps"]}.
{erl_opts, [debug_info,
            {i,"deps/proper/include/"},
            {i,"deps/ex_uri/include/"},
            {d,'COMPILING_WITH_REBAR_AND_ERLC_HATES_DEPS'}
           ]}.
{post_hooks, [{'get-deps', "git submodule init"},
              {'get-deps', "git submodule update"},
              {'delete-deps', "rm -rf priv/Socket.IO/* priv/Socket.IO/.git*"}]}.
{deps, [
    {proper_stdlib, ".*", {git, "https://github.com/spawngrid/proper_stdlib.git", {branch,"master"}}},
    {ux, ".*", {git, "https://github.com/freeakk/ux.git", {branch,"master"}}}
]}.
